# gradle

.gradle/
build/
out/
classes/

# brachyura

.brachyura/
buildscript/build/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# netbeans

netbeans/