name: publish-curseforge

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Cache Brachyura directory
        uses: actions/cache@v2
        with:
          path: |
            .brachyura
            ~/.brachyura
          key: ${{ runner.os }}-brachyura-${{ hashFiles('**/Buildscript.java') }}
          restore-keys: ${{ runner.os }}-brachyura

      - name: Build with Brachyura
        run: java -jar brachyura-bootstrap-0.jar build

      - name: Publish artifacts to CurseForge
        uses: Kir-Antipov/mc-publish@v3.2
        with:
          curseforge-id: 521126
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files-primary: build/libs/!(*-@(dev|sources)).jar

          version-type: beta
          loaders: |
            fabric
            quilt
          game-versions: |
            1.19.4
          dependencies: |
            fabric-api | depends | *
            cloth-config | depends | *

          java: |
            17

          retry-attempts: 2
          retry-delay: 10000
